:root {
  --basic-black: #000000;
  --basic-dark: #333333;
  --basic-sedona-blue: #81b3d2;
  --basic-sedona-sky: #669EC0;
  --basic-sedona-dark: #5496BD;
  --basic-white: #ffffff;
  --basic-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-footer-bgc: rgba(255, 255, 255, 0.9);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-grey: #f2f2f2;
  --basic-grey-shadow: #ababab;
  --basic-grey-bg: #eeeeee;
  --basic-grey-hov: #ebebeb;
  --basic-grey-border: #e5e5e5;
  --basic-calendar: #a9a9a9;
  --basic-sorter: #cacaca;
  --basic-rating: #666666;
  --basic-brown: #766357;
  --basic-brown-hov: #604e43;
  --basic-brown-active: #503e33;
  --basic-wrap: #3c4b50;
  --basic-academy-logo: #231F20;
  --basic-academy-logo-active: #bdbbbc;
  --basic-tomato: tomato;
}

.page,
.page-body {
  height: 100%;
}

.wrapper {
  position: relative;

  display: grid;
  width: 100%;
  grid-template-rows: min-content 1fr min-content;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: var(--basic-white);

  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-dark);

  background-color: var(--basic-grey);
}

.clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 73px;
  padding-right: 73px;
}

/* =====HEADER===== */

.main-header {
  min-height: 56px;
}

/* main-navigation */

.main-navigation {
  position: relative;

  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.main-logo {
  position: absolute;
  left: 50%;
  top: 0;
  width: 138px;
  height: 70px;

  transform: translateX(-50%);
}

.site_nav-list {
  display: flex;
  width: 100%;
}

.site_nav-item {
  flex-basis: 228px;
  flex-wrap: wrap;

  text-align: left;
}

.site_nav-item:nth-child(n+3) {
  text-align: right;
}

.site_nav-item:nth-child(2) {
  margin-right: auto;
}

.site_nav-link {
  display: inline-block;
  padding: 15px 0;
  vertical-align: middle;

  color: var(--basic-dark);
}

.site_nav-item .active-page {
  color: var(--basic-brown);
}

.site_nav-item a:not(.active-page):hover {
  color: var(--basic-sedona-blue);
}

.site_nav-item a:not(.active-page):active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* =====MAIN-SECTION===== */

/* invitation-section */

.invitation-section {
  padding: 75px;
  padding-top: 77px;

  text-align: center;

  background-color: var(--basic-wrap);
  background-image: url(../img/shape.svg), url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: bottom, center;
  background-size: 100%, 100% auto;
}

/* promo-section */

.promo-section {
  padding: 42px 340px 54px;

  text-align: center;
}

.promo-title,
.reason-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.promo-title {
  margin-bottom: 47px;
}

.promo-description {
  margin: 0;
}
/* reason-sections */

.reasons-grid {
  display: grid;
  grid-template-columns: 400px 400px 400px ;
  grid-template-rows: 1fr;
}

.main_reason-section {
  background-color: var(--basic-sedona-blue);
  color: var(--basic-white);
}

.natural-section .reason-image {
  grid-column-start: 2;
  grid-column-end: 4;
}

.bridge-section .reason-container {
  grid-column-start: 3;
  grid-column-end: 4;
}

.bridge-section .reason-image {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

.reason-container {
  padding: 47px 48px 10px;
  text-align: center;
}

.reason-title {
  margin-bottom: 27px;
  padding: 0 72px;

  line-height: 21px;
}

.reason-description {
  display: block;
  margin: 0;
  margin-bottom: 25px;
}

.feature-item {
  padding-top: 159px;
  min-height: 330px;
}

.feature-item:first-child {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: left 50% bottom 198px;

}

.feature-item:nth-child(2) {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: 75px auto;
  background-position: left 50% bottom 198px;

}

.feature-item:last-child {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-size: 64px auto;
  background-position: left 50% bottom 198px;
}

/* other-reasons-section */

.advantage-list {
  background-color: var(--basic-grey-bg);
  min-height: 256px;
}

/* order-section */

.order-section {
  padding-top: 65px;
  text-align: center;
}

.promo-question {
  margin: 0;
  margin-bottom: 33px;

  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.order-description {
  margin: 0;
  margin-bottom: 36px;

  line-height: 24px;
}

/* booking-section */

.booking-section {
  position: relative;

  width: 568px;
  margin: 0 auto;

  text-align: left;
}

/* button */

.hotel-btn {
  width: 100%;
  padding: 30px;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: var(--basic-brown);
  border: none;
}

.hotel-btn:hover,
.hotel-btn:focus {
  background-color: var(--basic-brown-hov);
}

.hotel-btn:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-opacity);
}

/* booking-form */

.booking-form {
  position: absolute;
  bottom: 0;

  padding: 55px;

  background-color: var(--basic-white);

  transform: translateY(100%);
}

.date-selection {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 30px;
}

.book-label {
  font-weight: 700;
}

.booking-form .booking-field {
  padding: 6px;
  padding-right: 9px;
  padding-left: 12px;

  font: inherit;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;

  background-color: var(--basic-grey);
  border: none;
}

.date-input {
  width: 346px;
}

.date-selection svg {
  position: absolute;
  right: 9px;
  top: 7px;

  color: var(--basic-calendar);
}

.booking-form .booking-field:hover {
  background-color: var(--basic-grey-hov);
}

.date-input:hover + svg {
  color: var(--basic-black);
}

.booking-form .booking-field:focus {
  background-color: var(--basic-white);
}

.date-input:focus + svg {
  color: var(--basic-sedona-blue);
}

.people-count {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 54px;
}

.adults-choise,
.child-choise {
  display: flex;
  margin: 0;
  align-items: center;
}

.adults-choise .book-label,
.child-choise .book-label {
  margin-right: auto;
}

.adults-choise {
  width: 224px;
}

.child-choise {
  width: 179px;
}

.people-input {
  width: 36px;
  height: 38px;
  padding-left: 0;

  text-align: center;
}

.count-btn {
  position: relative;

  width: 38px;
  padding: 0;
  align-self: stretch;

  border: none;
  background-color: var(--basic-grey);
}

.minus-btn::before,
.plus-btn::before,
.plus-btn::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  margin: auto;
  width: 12px;
  height: 3px;

  background-color: var(--basic-calendar);

  transform: translate(-50%, -50%);
}

.plus-btn::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.count-btn:hover::after,
.count-btn:hover::before,
.count-btn:focus::after,
.count-btn:focus::before {
  background-color: var(--basic-black);
}

.count-btn:active::after,
.count-btn:active::before {
  background-color: var(--basic-sedona-blue);
}

.book-btn {
  display: block;
  width: 458px;
  margin: 0 auto;
  padding: 16px;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);

  border: none;
  background-color: var(--basic-sedona-blue);
}

.book-btn:hover,
.book-btn:focus {
  background-color: var(--basic-sedona-sky);
}

.book-btn:focus {
  outline-color: var(--basic-tomato);
}

.book-btn:active {
  color: var(--basic-white-opacity);

  background-color: var(--basic-sedona-dark);
}

.map-section iframe {
  border: none;
}

/* =====FOOTER===== */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 23px;
  padding-bottom: 23px;
  padding-right: 100px;
  padding-left: 132px;
}

.index-page .main-footer {
  position: absolute;
  bottom: 0;

  width: 100%;

  background-color: var(--basic-footer-bgc);
}

.contacts {
  justify-self: start;
  padding-bottom: 21px;

  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.contacts p {
  margin: 0;
  margin-bottom: 9px;
}

.contacts a {
margin-bottom: 0;

  color: var(--basic-black);
}

.social {
  justify-self: center;
  align-self: center;
  padding-right: 28px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
}

.social-item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.social-list a {
  display: flex;
  width: 46px;
  height: 48px;
  justify-content: center;
  align-items: center;

  background-color: var(--basic-sedona-blue);
}

.social-list a:hover,
.social-list a:focus {
  background-color: var(--basic-sedona-sky);
}

.social-list a:focus {
  outline-color: var(--basic-tomato);
}

.social-list a:active {
  background-color: var(--basic-sedona-dark);
}

.social-list svg {
  color: var(--basic-white);
}

.social-icon:active svg {
  opacity: 0.3;
}

.copyright {
  display: flex;
  align-items: center;
  justify-self: end;
}

.copyright span {
  margin-right: 8px;
}

.copyright a {
  color: var(--basic-academy-logo);
}

.copyright a:hover {
  color: var(--basic-sedona-blue);
}

.copyright a:focus {
  outline-color: var(--basic-tomato);
  color: var(--basic-sedona-blue);
}

.copyright a:active {
  color: var(--basic-academy-logo-active);
}

/* hotels.html */

/* hotel-form */

.filter-section {
  color: var(--basic-white);

  background-color: var(--basic-sedona-blue);
  background-image: url(../img/background-blur.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.hotel-form {
  display: flex;
  padding-top: 25px;
  padding-bottom: 10px;
}

.form-legend {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  font-size: 16px;
  font-weight: 700;
}

.fildset-label {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 40px;

  background-image: url(../img/checkbox-off.svg);
  background-size: 23px 23px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.hotel-field {
  margin: 0;
  padding: 0;

  border: none;
}

.infrastructure-field {
  flex-basis: 150px;
  margin-right: 105px;
}

.infrastructure-item {
  margin-bottom: 19px;
}

.infrastructure-check:checked ~ .fildset-label {
  background-image: url(../img/checkbox-on.svg);
  background-size: 27px 23px;
}

.infrastructure-check:focus ~ .fildset-label {
  outline: 2px solid var(--basic-black);
  outline-offset: 2px;
}

.stay_type-field {
  flex-basis: 150px;
  margin-right: auto;
}

.cost-field {
  flex-basis: 317px;
}

.cost-legend {
  margin-bottom: 12px;
}

.filter-text_field {
  position: relative;

  padding: 5px;
  padding-top: 4px;
  padding-bottom: 7px;
  padding-left: 13px;
  margin-bottom: 20px;

  border: solid 2px var(--basic-white);
  border-radius: 2px;
}

.filter-text_field::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;

  width: 2px;
  height: 22px;

  background-color: var(--basic-white);

  transform: translate(-50%, -50%);
}

.price-label {
  padding-left: 52px;
}

.filter-section .filter-field {
  width: 70px;
  padding: 0;

  font: inherit;
  color: var(--basic-white);

  border: none;
  background-color: transparent;
}

.range-field {
  position: relative;

  margin-bottom: 33px;
}

.range-scale {
  width: 100%;
  height: 2px;

  background-color: var(--basic-white-opacity);
}

.range-bar {
  width: 80%;
  height: 2px;

  background-color: var(--basic-white);
}

.price-toggle {
  position: absolute;
  top: -9px;
  left: 0;

  width: 19px;
  height: 19px;

  border: 7px solid var(--basic-white);
  border-radius: 50%;
  background-color: var(--basic-grey-shadow);
  box-shadow: var(--basic-grey-shadow) 0 2px;
  cursor: pointer;
}

.range_toggle-max {
  left: 80%;
}

.price-toggle:hover {
  transform: scale(1.2);
}

.filter-section .filter-btn {
  display: block;
  margin-left: 85px;
  padding: 5px 34px 6px;

  font: inherit;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: var(--basic-white);

  background-color: transparent;
  border: solid 2px var(--basic-white);
  border-radius: 2px;
}

.filter-section button:hover {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/* sorter-section */

.sorter-section {
  display: flex;
  padding-top: 28px;
  padding-bottom: 32px;
}

.found-amount {
  width: 135px;
}

.sorter-part {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: center;

  font-size: 12px;
  line-height: 18px;
}

.sorter-part p {
  margin: 0;
  margin-left: 29px;
  margin-right: 40px;
}

.sorter-list {
  display: flex;
  flex-wrap: wrap;
}

.sorter-item {
  margin-right: 32px;
}

.sorter-link {
  color: var(--basic-black-opacity);
  text-decoration: underline dotted var(--basic-sedona-blue);
}

.sorter-link:hover,
.sorter-link:focus {
  color: var(--basic-sedona-blue);
}

.sorter-link:active {
  color: var(--basic-black);
  text-decoration: none;
}

.sorter-link.active {
  color: var(--basic-sedona-blue);
  text-decoration: none;
}

.sort_arrow-list {
  display: flex;
  margin-left: auto;

  font-size: 24px;
}

.sort_arrow-item {
  margin-left: 12px;
}

.sort_arrow-link svg {
  color: var(--basic-sorter);
}

.sort_arrow-link:hover svg,
.sort_arrow-link:focus svg {
  color: var(--basic-black);
}

.sort_arrow-link:active svg {
  color: var(--basic-sedona-blue);
}

.sort_arrow-link.active svg {
  color: var(--basic-sedona-blue);
}

/* apartment-section */

/* apartment-info */

.apartment-info {
  display: grid;
  width: 260px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  column-gap: 5px;
  align-items: start;
}

.apartment-title {
  grid-column-start: 1;
  grid-column-end: 3;
}

.apartment-list {
  display: grid;
  grid-template-rows: min-content min-content min-content;

  border-top: 1px solid var(--basic-grey-border);
}

.apartment-item {
  display: grid;
  grid-template-columns: max-content 1fr 1fr;
  column-gap: 29px;
  padding-top: 30px;
  padding-bottom: 30px;

  border-bottom: 1px solid var(--basic-grey-border);
}

.found-amount,
.apartment-title {
  margin: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.apartment-title {
  width: 100%;
  margin-top: -5px;
  margin-bottom: 10px;

  line-height: 21px;
}

.apartment-title a {
  color: var(--basic-black);
}

.apartment-title a:hover {
  color: var(--basic-sedona-blue);
}

.apartment-title a:focus {
  color: var(--basic-sedona-blue);

  outline-color: var(--basic-tomato);
}

.apartment-title a:active {
  color: var(--basic-black-opacity);
}

.result-description {
  color: var(--basic-dark);
}

.result-btn {
  display: block;
  align-self: end;

  font-weight: 700;
  color: var(--basic-white);
  text-align: center;
  padding: 3px 17px 3px 18px;
}

.detail-btn {
  background-color: var(--basic-sedona-blue);
}

.detail-btn:hover {
  background-color: var(--basic-sedona-sky);
}

.detail-btn:focus {
  outline-color: var(--basic-tomato);
  background-color: var(--basic-sedona-sky);
}

.detail-btn:active {
  color: var(--basic-white-opacity);

  background-color: var(--basic-sedona-dark);
}

.booking-btn {
  background-color: var(--basic-brown);
}

.booking-btn:hover,
.booking-btn:focus {
  background-color: var(--basic-brown-hov);
}

.booking-btn:active {
  color: var(--basic-white-opacity);

  background-color: var(--basic-brown-active);
}

.hotel_rate-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-self: end;
  align-items: flex-end;
}

.star-section {
  margin: 0;
  height: 18px;

  background-image: url(../img/star.svg);
  background-size: 19px 17px;
  background-repeat: space;
}

.one-star {
  width: 20px;
  margin-right: -3px;
}

.two-star {
  width: 43px;
  margin-right: -3px;
}

.three-star {
  width: 67px;
  margin-right: -3px;
}

.four-star {
  width: 91px;
  margin-right: -3px;
}

.five-star {
  width: 100px;
}

.user_rate {
  padding: 3px 12px;
  padding-left: 15px;
  margin: 0;

  color: var(--basic-rating);

  background-color: var(--basic-grey);
}
